<div>
  <form [formGroup]="accountDataForm">
      <label>Username</label>
    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-group"></i>
        </span>
      </div>
      <input name="username" class="form-control"  type="text" placeholder="username" formControlName="username" required (focus)="focus=true" (blur)="focus=false" >
      <!-- <mat-error>{{formError.mapErrors(accountDataFoem.get('username'), 'Username')}}</mat-error> -->
    </div>

    <label>Email</label>
    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-group"></i>
        </span>
      </div>
      <input name="email" class="form-control"  type="email" placeholder="email" formControlName="email" required (focus)="focus=true" (blur)="focus=false" >
    </div>

    <label>Password</label>
    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-group"></i>
        </span>
      </div>
      <input name="password" class="form-control"  type="password" placeholder="password" formControlName="password" required (focus)="focus=true" (blur)="focus=false" >
    </div>

    <label>Confirm password</label>
    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-group"></i>
        </span>
      </div>
      <input name="confirmPassword" class="form-control"  type="password" placeholder="Confirm Password" formControlName="confirmPassword" required (focus)="focus=true" (blur)="focus=false" >
    </div>
  </form>
</div>