<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
      <div class="filter"></div>
  
      
    </div>
  </div>

  <div >
      <div style="padding: 10px;">
          <div style="text-align: center; padding: 10px;">
              <h1><b>Dashboard</b></h1>
          </div>

           <!-- <div class="nav-tabs-navigation" >
              <div class="nav-tabs-wrapper">  -->
                  <ngb-tabset [justify]="'center'">
                      <ngb-tab title="Clients">
                          <ng-template ngbTabContent>
                              <app-client></app-client>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="List of reservations">
                          <ng-template ngbTabContent>
                              <app-reservation></app-reservation>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Confirmed reservations">
                          <ng-template ngbTabContent>
                              <app-personal-data></app-personal-data>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Create schedule">
                          <ng-template ngbTabContent>
                              <p>Here are your messages.</p>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Create course">
                          <ng-template ngbTabContent>
                              <p>Here are your messages.</p>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Messages">
                          <ng-template ngbTabContent>
                              
                          </ng-template>
                      </ngb-tab>
                  </ngb-tabset>
              <!-- </div>
          </div> -->

      </div>
  </div>
