<mat-form-field>
  <h5 matSuffix>Search</h5>
  <input matInput placeholder="Search..." (keyup)="applyFilter($event.target.value)"  >
</mat-form-field>
<div style="padding-right: 10px;">
  <!-- <div class="row">  
  <input (keyup)="applyFilter($event.target.value)" placeholder="Search..." class="form-control col-md-2">
    <h5 >Search</h5>
  </div>  -->
  <mat-table [dataSource]="dataSource">
    
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let i = index;"> {{i+1}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="personalData.firstName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let client">{{client.personalData.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="personalData.lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let client">{{client.personalData.lastName}}</mat-cell>
  </ng-container>

 
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>