<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>
  <div class="container-fluid">
      <div class="row">
        <div >
          <div class="center" id="calendar-container">
              <!-- <button class="left" mat-raised-button color="primary" (click)="prevMonth()"> prev </button> -->
              <button class="btn btn-primary btn-round left" (click)="prevMonth()"> Perv Month</button>
              <div class="left">{{date.format('MMMM')}} {{date.format('YYYY')}}</div>
              <button class="btn btn-primary btn-round left" (click)="nextMonth()"> Next Month </button>
              <!-- <button class="left" mat-raised-button color="primary" (click)="nextMonth()"> next </button>     -->
          </div>
          <div class="calendar-container">
    
            <div class="container" id="calendar-container">
              <div class="weekendNameDiv textCenter">Sun</div>
              <div class="dayNameDiv textCenter">Mon</div>
              <div class="dayNameDiv textCenter">Tue</div>
              <div class="dayNameDiv textCenter">Wed</div>
              <div class="dayNameDiv textCenter">Thu</div>
              <div class="dayNameDiv textCenter">Fri</div>
              <div class="weekendNameDiv textCenter">Sat</div>
            </div>
    
            <div class="container"  id="calendar-container">
              <div *ngFor='let day of dayObjects; let i = index;'>
                <div>
                    <div id="{{i}}" name="divToday" class="dayDiv textCenter" (click)="clickedd(day.day)"  [ngClass]="{'inactive':!day.day}">{{day.day | date: 'd'}}
                        <span matBadge="{{day.events}}" [ngClass]="{'invisible':!day.events}" matBadgeOverlap="false"></span>
                    </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
    
        
        <div *ngFor="let s of schedules" >
            <form >
                <input placeholder="{{s.time.time}}"  [(ngModel)]="reservation.schedule" name="schedule" class="btn btn-primary btn-round"  (click)="save()">
            
          </form>
      
        </div>
    
    </div>
    
    









    <div [hidden]="!loggedUser"> 
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ngb-tabset [justify]="'center'">
                  <ngb-tab title="Reservations">
                      <ng-template ngbTabContent >
                          <!-- <div class="row following" id="follows"> -->
                              <div class="col-md-6 ml-auto mr-auto">
                                  <app-reservation></app-reservation>
                              </div>
                          <!-- </div> -->
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Confirmed reservations">
                      <ng-template ngbTabContent>
                          <!-- <h3 class="text-muted">Not following anyone yet :(</h3>
                          <br>
                          <button class="btn btn-warning btn-round">Find artists</button> -->
                      </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
</div>

